*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --gameBoxFlexBasis: ;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.noselect { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
 } 

 #game-container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
 }

 .game-box{
    border: 1px solid red;
    flex: 1 1 var(--gameBoxFlexBasis);
 }

 #game-controls-container{
    display: flex;
    gap: 12px;
    align-items: center;
 }

 #set-size{
    padding: 2px 6px;
 }